ul.cards {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: inside none;
	width: 640px;
	max-width: 100%;
}

li.card {
	display: none;
	position: relative;
	width: 100%;
	min-height: 350px;
	background: #111;
	box-shadow: 0 0 55px #111;
	margin: 0;
	border: 1px solid #1f1f1f;

	&.show {
		display: block;
	}
}

h1.welcome-text {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	margin: 0;
}

h2.goodbye-text {
	position: absolute;
	top: 15px;
	left: 40%;
	right: 15px;
	text-align: right;
	margin: 0;
}

li.article {
	margin: 35px 0;
	header {
		position: relative;
		background-size: cover;

		&:after {
			display: block;
			content: "";
			padding-bottom: 56.25%;
		}
	}


	h1 {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		.verticalRhythm(1);
		padding: 75px 15px 15px;
		font-weight: 600;
		margin: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

		.small {
			font-weight: 300;
			display: block;
			.verticalRhythm(1);
		}
	}

	.content {
		padding: 15px;
		background: #fff;
		color: #666;
	}
}
