body, html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	color: @textColor;
	background: @backgroundColor;
	display: flex;
	align-items: center;
	justify-content: center;

}

// Set the box sizing globally for all elements
* {
	box-sizing: border-box;
}
