body, html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	color: #fff;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.next-button, .prev-button {
	display: flex;
	align-self: stretch;
	align-items: center;
	padding: 15px;
	.fontSizeGrid(4);
	cursor: pointer;

	a {
		color: #aaa;
		transition: .5s color ease;

		&:hover {
			color: #fff;
		}
	}
}

button {
	right: auto;
	left: auto;
	top: auto;
}

.buttons {
	display: block;
}


// Set the box sizing globally for all elements
* {
	box-sizing: border-box;
	user-select: none;
}
