body, html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	color: #fff;
	background: #000;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.next-button, .prev-button {
	display: flex;
	align-self: stretch;
	align-items: center;
	padding: 15px;
	.fontSizeGrid(4);
	cursor: pointer;
	opacity: 1;
	transition: .5s opacity ease;

	a {
		color: #aaa;
		transition: .5s color ease;

		&:hover {
			color: #fff;
		}
	}
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 3px;
	background: #ff7d00;
	box-shadow: 0 0 15px #ff7d00;
	transition: width .5s ease;
	z-index: 9999;
}

.footer {
	align-self: flex-end;
	width: 640px;
	max-width: 100%;
	margin: 50px auto 25px;

	h3, p {
		.verticalRhythm(-2);
		text-align: right;
		color: #666;
		margin-bottom: 0;
	}
}

button {
	right: auto;
	left: auto;
	top: auto;
}

.buttons {
	display: block;
}

.page-wrapper {
	display: flex;
	flex-flow: row wrap;
}

.loading-indicator {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.5);
	border-right-color: transparent;

	animation: rotate-forever 1s infinite linear;

	opacity: 0;

	transition: opacity .25s ease;
}

body.loading {
	.loading-indicator {
		opacity: 1;
	}

	.next-button, .prev-button {
		opacity: 0;
		transition: .5s opacity ease;
	}
}

@keyframes rotate-forever {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

// Set the box sizing globally for all elements
* {
	box-sizing: border-box;
	user-select: none;
}
